html, body {
  margin: 0;
  height: 100%;
}

.side-nav {
	position: fixed;
	bottom: 0;
	box-sizing: border-box;
	overflow: auto;
	height: 100%;
	width: 400px;
}

.content {
	margin-left: 400px;
	padding: 30px;
}
